numpy==1.12.1
matplotlib==2.1.0
tweepy==3.5.0
beautifultable==0.3.0
requests==2.14.2
selenium==3.8.0
SQLAlchemy==1.1.9
pyquery==1.3.0
Unidecode==0.4.21
PyStemmer==1.3.0
scikit_learn==0.19.1
SocksiPy_branch==1.01
